* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Poppins", sans-serif;
}

:root {
	--background-colour: #e22c0f;
	/* --background-colour: #644bff; */
	--background-textColour: #070870;
	--value-opacity: 92.5%;
	--value-backgroundTextOpacity: 100%;
	--value-backgroundTextTransform: translate(-49%, -10%);
}

body {
	background: var(--background-colour);
	padding: 0 20px;
}

::selection {
	color: #fff;
	background: var(--background-colour);
}

.fixError {
	background: black;
	color: #fff;
	padding: 0.5rem 1.5rem;
	border-radius: 0 0 0.25rem 0.25rem;
	position: absolute;
	left: 0.5rem;
	transform: translateY(-800%);
	transition: transform 325ms ease-in, position 325ms ease-in, z-index 325ms;
}

.fixError:focus {
	transform: translateY(0);
	z-index: -1;
	position: relative;
}

.container {
	position: relative;
}

.container .background {
	left: 50%;
	margin-right: -50%;
	transform: var(--value-backgroundTextTransform);
	position: absolute;
	text-align: center;
	color: var(--background-textColour);
	text-transform: uppercase;
	font-size: 1000%;
	opacity: var(--value-backgroundTextOpacity);
	overflow: hidden;
	transition: transform 325ms ease-in;
}

/* transform: translateX(0); */

/* transition: transform 325ms ease-in, position 325ms ease-in, z-index 325ms; */

.wrapper {
	max-width: 450px;
	margin: 150px auto;
}

.wrapper h1 {
	background: #afafaf;
	width: 100%;
	text-align: center;
	border-radius: 5px;
	position: relative;
	box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
	margin-bottom: 25px;
	opacity: var(--value-opacity);
}

.wrapper .search-input {
	background: #fff;
	width: 100%;
	border-radius: 5px;
	position: relative;
	box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, 0.12);
	opacity: var(--value-opacity);
}

.search-input input {
	height: 55px;
	width: 100%;
	outline: none;
	border: none;
	border-radius: 5px;
	padding: 0 60px 0 20px;
	font-size: 18px;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
}

.search-input.active input {
	border-radius: 5px 5px 0 0;
}

.search-input .autocom-box {
	padding: 0;
	opacity: 0;
	pointer-events: none;
	max-height: 280px;
	overflow-y: auto;
}

.search-input.active .autocom-box {
	padding: 10px 8px;
	opacity: 1;
	pointer-events: auto;
}

.autocom-box li {
	list-style: none;
	padding: 8px 12px;
	display: none;
	width: 100%;
	cursor: default;
	border-radius: 3px;
}

.search-input.active .autocom-box li {
	display: block;
}

.autocom-box li:hover {
	background: #efefef;
	opacity: var(--value-opacity);
}

.autocom-box li.active {
	background: #efefef;
	opacity: var(--value-opacity);
}

.search-input .icon {
	position: absolute;
	right: 0px;
	top: 0px;
	height: 55px;
	width: 55px;
	text-align: center;
	line-height: 55px;
	font-size: 20px;
	color: var(--background-colour);
	cursor: pointer;
}
